<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Weclome to Pro Code Guide</title>
</head>
<body>
    <div style="font-family:Helvetica,sans-serif">
        <div style="width:600px;height:100%;margin:auto">
            <div style="margin: 40px auto; text-align: center">
                <a style="color:#871fff;text-decoration:none" href="https://dashboard.nexmo.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://dashboard.nexmo.com/&amp;source=gmail&amp;ust=1676809058748000&amp;usg=AOvVaw2z1mzjKOo9O4PscUwpGu-M">
                    <img src="https://res.cloudinary.com/projectsem3/image/upload/v1691082258/Logo/logo1.png"  alt="Vonage APIs" class="CToWUd" data-bit="iit">
                </a>
                <div>
                    <div>
                        <h1 style="font-family:Verdana,Helvetica,sans-serif;font-weight:normal;font-size:32px;line-height:48px">
                            Verify your email address
                        </h1>
                    </div>
                </div>
            </div>



            <div>
                <div style="margin-top:24px;font-size:16px">
                    {0}
                </div>

                <div>
                    <p style="font-size:16px;margin-bottom:16px;line-height:24px">
                        Please confirm that you want to use this email address with your Vonage APIs account. If you did not request this change, then feel free to ignore this email.
                    </p>
                    <p style="font-size: 16px; margin-bottom: 16px; line-height: 24px; text-align: center;">
                        <a href="{1}" style="background:#131415;color:#fff;font-size:14px;border:0;border-radius:4px;display:inline-block;line-height:24px;margin:8px 0;min-height:20px;outline:0;padding:8px 20px;text-align:center;vertical-align:middle;white-space:nowrap;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://iam.idp.vonage.com/self-service/verification?flow%3D187d6507-2401-4487-a749-73d38e9c344e%26token%3D7ueNtLRhWrFl27J15nSmLqpYC6MbA5WR&amp;source=gmail&amp;ust=1676809058748000&amp;usg=AOvVaw1jf_hfau20ZWahWAsMN5-l">
                             Verify 
                        </a>
                    </p>
                </div>
            </div>

            <p>
                <span style="line-height:24px;font-size:16px">Regards,The Vonage API Team</span><br>
            </p>
            <hr style="margin:40px 0 20px 0;display:block;height:1px;border:0;border-top:1px solid #c4cdd5;padding:0">
            <footer style="margin-bottom:40px">
                <span style="color:#919eab;line-height:28px;font-size:12px">Vonage APIs, 501 2nd Street, Suite 310 San Francisco, CA 94107</span><br>
                <span style="color:#919eab;line-height:28px;font-size:12px">You received this because you're a registered Vonage APIs user. Do not reply</span><br>

                <span style="color:#919eab;line-height:28px;font-size:12px">
                    Questions? Check out the <a href="https://developer.nexmo.com/" style="color:#919eab;line-height:28px;font-size:12px;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://developer.nexmo.com/&amp;source=gmail&amp;ust=1676809058748000&amp;usg=AOvVaw0TJUrEwe9dtCLuDJRei3xJ">docs</a>
                    or find help from <a href="https://help.nexmo.com/" style="color:#919eab;line-height:28px;font-size:12px;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://help.nexmo.com/&amp;source=gmail&amp;ust=1676809058748000&amp;usg=AOvVaw1GljBt6BTC7_b3-KxewTih">support</a>.
                </span>
            </footer><div class="yj6qo"></div><div class="adL">
            </div>
        </div><div class="adL">
        </div>
    </div>
</body>
</html>